In [1]:
import pandas as pd

In [2]:
path = "./csse_covid_19_daily_reports/01-22-2020.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df = df.groupby(['Country/Region']).sum()

In [5]:
df = df.rename(columns={"Country/Region": "name", "Confirmed": "TotalCases", "Deaths": "TotalDeaths", "Recovered": "TotalRecovered"})
df = df[['TotalCases', 'TotalDeaths', 'TotalRecovered']]
df = df.rename_axis("name")

In [7]:
totalCases = df['TotalCases'].sum()
totalDeaths = df['TotalDeaths'].sum()
totalRecovered = df['TotalRecovered'].sum()

# new_row = {"name":"Total:", 
#                     "TotalCases": totalCases,  
#                     "TotalDeaths": totalDeaths,
#                     "TotalRecovered": totalRecovered}
# df = df.append(new_row, ignore_index=True)
# df

df.loc['Total:'] = [totalCases, totalDeaths, totalRecovered]
df = df.reset_index()
df

                TotalCases  TotalDeaths  TotalRecovered
name
Hong Kong              0.0          0.0             0.0
Japan                  2.0          0.0             0.0
Macau                  1.0          0.0             0.0
Mainland China       547.0         17.0            28.0
South Korea            1.0          0.0             0.0
Taiwan                 1.0          0.0             0.0
Thailand               2.0          0.0             0.0
US                     1.0          0.0             0.0
Total:              1110.0         34.0            56.0

In [ ]:
df.to_csv('./converted_data/data.csv')